
@font-face {
  font-family: 'RobotoMono-Thin';
  font-weight: normal;;
  font-style: normal;
  src: url('./fonts/robotomono/static/RobotoMono-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Bold';
  font-weight: normal;;
  font-style: normal;
  src: url('./fonts/robotomono/static/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-BoldItalic';
  font-weight: normal;;
  font-style: normal;
  src: url('./fonts/robotomono/static/RobotoMono-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Light';
  font-weight: normal;;
  font-style: normal;
  src: url('./fonts/robotomono/static/RobotoMono-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono-Medium';
  font-weight: normal;;
  font-style: normal;
  src: url('./fonts/robotomono/static/RobotoMono-Medium.ttf') format('truetype');
}

:root {
  --green: #1DB954;
  --green-dark: #0c8838;
  --timber: #D3D0CB;
  --ash: #BDCEBD;
  --grey: #5C6784;
  --grey-dark: #3A4562;
  --black: #191414;
  --charcoal: #3B3E4C;
  --eton: #78C590;
}

span.navbar-text {
  font-family: 'RobotoMono-Thin';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

.btn-to-quiz {
  display:inline-block;
  padding:1em 0.8em;
  border-radius:0.75em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'RobotoMono-BoldItalic';
  font-weight:400;
  font-size: 3vw;
  color:var(--green);
  background-color: var(--timber);
  box-shadow: -10px 10px var(--grey);
  text-align:center;
  position:relative;
}

.btn-to-quiz:active{
  background-color: var(--grey);
  box-shadow: -10px 10px var(--grey-dark);
}
/* 
@media all and (max-width:30em){
  .btn-to-quiz{
    display:block;
    margin:0.4em auto;
  }
}  */

.logo {
  width:80%;
}

.answer1 {
  background-color: var(--timber);
  text-align: center;
}

.answer2 {
  background-color: var(--grey);
  text-align: center;
}

a.answer-header {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 320px;
  height: 320px;
  line-height: 320px;
  font-size: 30pt;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-image: -webkit-linear-gradient(45deg, var(--black) 0%, var(--green) 100%);    
  background-image: linear-gradient(45deg, var(--black) 0%, var(--green) 100%);
  transition: .4s;
  margin-top: 1em;
}

a.answer-header:hover {
-webkit-transform: rotate(10deg);
-ms-transform: rotate(10deg);
transform: rotate(10deg);
}

.playlist {
  margin-top: 1em;
}

.green-text {
  color: green;
}

p {
  margin-top: 4vh;
  margin-bottom: 4vh;
  font-family: 'RobotoMono-Thin';
  color: var(--green);
}

.title-text {
  font-size: 4.5vw; 
}

.quiz-title-text {
  font-size: 3vw;
}

.quiz-header {
  background-color: var(--charcoal);
  font-size: 3vw;
}

.quiz-question-box {
  background-color: var(--eton);  
}

.quiz-question-number {
  color: var(--green-dark);
  font-family: 'RobotoMono-Bold';
}

.quiz-question-text {
  color: var(--timber);
}

.description-text {
  font-size: 3vw;
}

.justify-center {
  text-align: center;
}

.justify-right {
  text-align: right;
}

.justify-left {
  text-align: left;
}

.results-header {
  background-color: var(--grey);
}

.results-header-box {
  border-style: solid;
  border-width: 1px;
  border-color: var(--grey-dark);
}

.results-header-text {
  color: white;
  font-family: 'RobotoMono-Medium';
}

.results-data {
  background-color: var(--timber);
}

.results-data-box {
  border-color: var(--ash);
  border-width: 1px;
  border-style: solid;
}

.results-data-text {
  color: var(--charcoal);
}
